img {
  display: block;
  position: absolute;
  top: 391px;
  left: 230px;
  width: 8%;
  height: width;
}

p {
  font-size: 0.7em;
  text-align: left;
  padding-left: 28px;
  margin: 0;
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
}
